---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
  <p><span class="marginnote">Chapters<br />
  <a href="{{site.baseurl}}chapter1">1: Introduction</a></br />
  <a href="{{site.baseurl}}chapter2">2: Recommendation systems</a></br />
 <a href="{{site.baseurl}}chapter3">3: Item-based filtering</a></br />
<a href="{{site.baseurl}}chapter4">4: Classification</a></br />
<a href="{{site.baseurl}}chapter5">5: More on classification</a></br />
<a href="{{site.baseurl}}chapter6">6: Naïve Bayes</a></br />
<a href="{{site.baseurl}}chapter7">7: Unstructured text</a></br />
<a href="{{site.baseurl}}chapter8">8: Clustering</a></br />

  </p></span>
    {{ content }}
  </article>

</div>
